*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#navbar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff5db;
}

#navbar-container h1{
    font-family: 'Brush Script MT', cursive;
    font-size: 28px;
    color: #532200;
    margin-left: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

#navbar-container h1:hover{
    color: #a0522d;
    transition: color 0.1s;
}

#logo{
    width: 50px; 
    border-radius: 50%;
    border: 1px solid #e2b18d;
    padding: 5px;
}

#logo:hover{
    box-shadow: 0 0 10px #e2b18d;
    transition: box-shadow 0.3s;
}

.list ul {
    list-style: none;
    padding: 0;
    margin: 0;  
    display: flex;
    gap: 20px;
}

.list li a{
    text-decoration: none;
    color: #532200;
    font-size: 16px;
    font-family: sans-serif;
    white-space: nowrap;
    
}

.list li a:hover{
    color: #a0522d;
    transition: color 0.1s;
}

#carouselExample {
    max-height: 500px; 
    overflow: hidden; 
}

.carousel-item {
    height: 500px; 
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}